@mixin fixedButton($bg-color, $font-color) {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: $bg-color;
  color: $font-color;
  cursor: pointer;
  font: {
    size: 20px;
    family: $fontType1;
    weight: 400;
  }
}

.donateButtonArea {
  top: 20vh;
  right: 10px;
  z-index: 4;

  .donateButtonArea-1 {
    width: 130px;
    height: 117px;

    .donateButton {
      @include fixedButton(#fffffd, $secondary);
      border: solid 0.5px $secondary;
      right: 0;
      top: 0;
      &:hover {
        color: #ed8f8f;
      }
    }
    .adoptionButton {
      @include fixedButton($secondary, #fffffd);
      bottom: 0;
      left: 0;
      &:hover {
        color: #fffffd;
      }
    }
  }
}
