@import "./page1/carousel.scss";
@import "./page1/page1-text";

.page1scroll {
  bottom: 0;
  left: 10vh;
}
.page1 {
  height: 70vh;
  min-height: 50rem;
  margin-bottom: 20vh;

  .page1left {
    width: 22.5rem;
    height: 70vh;
    min-height: 34.375rem;
    margin-left: 10vw;
    overflow: hidden;
    position: relative;
  }
  .page1right {
    margin-left: 5vw;
    width: 60vw;
    background-color: #fff;
    z-index: 1;
    right: 0;
  }
}
