.page1right {
  margin-left: 5vw;
  width: 60vw;
  background-color: #fff;
  z-index: 1;
  right: 0;
}

.page1wrap {
  width: 60vw;
  height: 87vh;
  overflow: hidden;
  min-height: 700px;
}

.page1img-wrap {
  width: 240vw;
  left: 0px;
  transition: 0.5s;
}

.page1img-wrap img {
  width: 60vw;
  object-fit: cover;
  opacity: 0.8;
}
