.page5bar {
  background-color: #f0efeb;
  width: 100vw;
  height: 40vh;
  max-height: 350px;

  .page5title {
    width: 25rem;
    height: 9rem;
    div:nth-child(1) {
      color: $primary;
      font-size: 3.75rem;
      font-family: $fontType3;
      font-weight: lighter;
      margin-bottom: 1rem;
    }
    div:nth-child(2) {
      color: #555555;
      font-size: 1.25rem;
      font-family: $fontType1;
      text-align: end;
    }
  }
}

.page5 {
  width: 100vw;
  height: 90vh;
  min-height: 43.75rem;

  .page5left {
    height: 60vh;
  }
  .page5right:nth-child(1) {
    margin-right: 0.625rem;
  }
  .page5right {
    height: 90vh;
    min-height: 43.75rem;
    width: 50%;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.page5des1 {
  color: #555555;
  font-size: 2.375rem;
  font-family: $fontType2;
  width: 60%;
}

.page5small {
  font-size: 1.25rem;
  color: #a5a58d;
  font-family: $fontType1;
}

.page5card {
  background-color: #fff1e6;
  width: 100%;
  height: 23.375rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  border: 0.1px #fff1e6 solid;
  border-radius: 0.25rem;

  .page5cardImg {
    width: 17.5rem;
    height: 16.75rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
    }
  }

  .page5cardDes {
    width: 90%;
    height: 20%;
    margin-top: 2%;
    .page5cardDate {
      width: 35%;
      height: 80%;
      border-right: 1px solid #555555;
      color: #555555;
      font-family: $fontType3;
      padding: 0 5%;

      span:nth-child(1) {
        font-size: 1.5rem;
      }
    }
    .page5cardContent {
      width: 65%;
      height: 80%;
      padding: 0 5%;

      span:nth-child(1) {
        font-size: 0.875rem;
        font-family: $fontType1;
        width: 30%;
        color: #fff1e6;
        background-color: $primary;
        border-radius: 0.8rem;
      }
      span {
        font-family: $fontType1;
        font-size: 1.125rem;
      }
    }
  }
}
