%page2img {
  height: 25.1875rem;
  width: 12.625rem;
  margin-right: 1rem;
  background-size: cover;
}

.page2 {
  margin-bottom: 20vh;
  .page2img1 {
    @extend %page2img;
    background-image: url(../../image/homepage/homepage2-1.png);
  }
  .page2img2 {
    @extend %page2img;
    margin-top: 6.125rem;
    background-image: url(../../image/homepage/homepage2-2.png);
  }
  .page2img3 {
    @extend %page2img;
    margin-top: 12.25rem;
    background-image: url(../../image/homepage/homepage2-3.png);
  }
  .page2desBlock {
    margin: 19.375rem 0 0 1.875rem;
  }
  .adopt {
    font-size: 3.75rem;
    font-weight: lighter;
    font-family: $fontType3;
    color: $primary;
    margin-bottom: 45px;
  }
  .page2des {
    color: #707070;
    font-size: 20px;
    font-family: $fontType1;
    margin: 0 0 26px 107px;
  }
  .page2des2 {
    color: $primary;
    font-size: 1rem;
    font-family: $fontType1;
    margin-left: 15.9375rem;

    &:hover {
      color: $primary;
    }
  }
}
