@import "./page1Carousel";

.page1 {
  height: 70vh;
  min-height: 50rem;
  margin-bottom: 20vh;
  .page1scroll {
    bottom: 0;
    left: 10vh;
  }

  .page1left {
    margin-left: 10vw;
    width: 22.5rem;
    overflow: hidden;
    height: 70vh;
    min-height: 34.375rem;

    .page1left-wrap {
      top: 0;
      transition: 0.5s;

      .page1left-1 {
        width: 100%;
        height: 100%;
        min-height: 34.375rem;

        .page1des {
          color: $primary;
          font: {
            size: 3rem;
            family: $fontType3;
            weight: lighter;
          }
          padding-top: 15vh;
          margin-bottom: 10%;
        }
        .sm {
          font-size: 2.5rem;
        }

        .page1des2 {
          width: 100%;
          height: 10rem;
          background-color: #f0efeb;
          font: {
            size: 1.25rem;
            family: $fontType1;
          }
          color: #707070;
          text-align: center;

          .hide {
            visibility: hidden;
          }

          .page1des3 {
            font-size: 14px;
            color: $primary;
            text-align: end;
            transition: 0.5s;
          }
        }
      }
    }
  }
}
