@mixin labelColor($color, $bcc) {
  background-color: $bcc;
  color: $color;
}

.page4title {
  width: 25rem;
  height: 9rem;
  margin: auto;
  .page4Store {
    color: $primary;
    margin-bottom: 10px;
    font-size: 3.75rem;
    font-family: $fontType3;
    font-weight: lighter;
  }
  .page4slogan {
    color: #555555;
    font-size: 1.25rem;
    font-family: $fontType1;
    text-align: end;
  }
}
.page4 {
  height: 630px;

  .page4product {
    height: 25rem;
    position: relative;
    border: solid 0.5px rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;

    &:hover {
      border: $primary solid 0.5px;
      border-radius: 4px;
      transition: 0.5s;
    }
    .page4label {
      width: 2.5rem;
      height: 7rem;
      position: absolute;
      left: 2rem;
      font-size: 1.25rem;
      font-family: $fontType1;
      writing-mode: vertical-lr;
      z-index: 1;
      border-radius: 0 0 9rem 9rem;
    }
    .label1 {
      @include labelColor(#fff1e6, #cb997e);
    }
    .label2 {
      @include labelColor(#cb997e, #fff1e6);
    }
    .page4img {
      padding-top: 5%;
      img {
        width: 100%;
        object-fit: cover;
        opacity: 0.8;
      }
    }
    div {
      font-family: $fontType3;
      .page4date {
        border-right: 1px solid #707070;
        width: 35%;
        div {
          color: #555555;
          font-size: 1.25rem;
        }
        .text-right {
          font-size: 1rem;
        }
      }
      .page4content {
        width: 65%;
        div {
          color: #555555;
          font: {
            size: 1rem;
            weight: lighter;
          }
        }
        .text-right {
          font: {
            size: 0.8rem;
            weight: normal;
          }
        }
      }
    }
  }
}
