// 預設變數覆蓋需要在導入Bootstrap之前
$fontType1: "微軟正黑體";
$fontType2: "Noto Serif TC";
$fontType3: "Roboto";
$primary: #a5a58d;
$secondary: #cb997e;

@import "~bootstrap/scss/bootstrap.scss";
@import "./styleGuide.scss";

main {
  margin-top: 100px;
}
main > .container {
  height: 100vh;
  padding: 60px 15px 0;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 300px;
}
